@white: #FFFFFF;

.main-body{
    min-height: 600px;
}

.hero-bg{
    background-image: url('./img/time-wallpaper.jpg');
    background-size: cover;
    color:@white;
}

ul {
    li{
        a{
            &.active{
                background-color:#DDDDDD;
            }
            &:hover, &:visited {
                background-color:#DDDDDD !important;
            }
        }
    }
}

footer{
    margin-top:40px;
}